# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/.build/*
/build/*
/.build/
/build/
build/distributions/duke-0.1.0.tar
/build/distributions/duke-0.1.0.tar
src/main/resources/docs/
/.git
# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
